/*
pink: #FF577F
orange: #FF884B
yellow: #FFC764
paleblue: #CDFFFC
palepink: #FCD1D1
darkblue: #1d2d50;
green: #baf1a1
*/


body {
  font-family: 'Poppins', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: linear-gradient(90deg, #FF577F 50%, #FF884B 50%);
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.container .card {
  position: relative;
  cursor: pointer;
  width: 500px;
  height: 1000px;
  transition: 0.5s;
  background: #FFC764;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  z-index: 1;
  transform: translateY(100px);
  padding: 50px;
}
.container .card:hover {
  background: #CDFFFC;
  color: #fcd1d1;
  font-size: 5rem;
  transform: translateY(0);
}
.container .card.selected {
  transform: translateY(0);
}
.container .card.correct {
  background: #baf1a1;
  color: #1d2d50;
  width: auto;
}
.container .card.incorrect {
  background: #FCD1D1;
  color: #1d2d50;
  width: auto;
}
.container .card .content {
  font-size: 10rem;
  padding: 50px;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  text-align: center;
  transition: 2s;
}

.form__field {
  font-family: inherit;
  width: 50%;
  margin-top: 50%;
  border: 0;
  border-bottom: 2px solid #CDFFFC;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: #CDFFFC;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 100%;
}
.form__label {
  display: none;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 100%;
  margin-left: 25%;
  display: block;
  transition: 0.2s;
  font-size: 0.75rem;
  color: #CDFFFC;
  font-weight: 100;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.hidden {
  display: none;
}
