body {
  font-family: 'Poppins', serif;
  font-size: 36px;
  color: #cdfffc;
  height: 100%;
  background: linear-gradient(90deg, #FF577F 50%, #FF884B 50%);
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
  width: 100%;
}

#left-option, #right-option {
  display: inline-block;
  border: 10px solid #cdfffc;
  margin: 10%;
  padding: 10%;
  height: auto;
  width: auto;
}
